header{
    /* background-color: #d7d7d7; */
}


.main-jumbotron{
    min-height: 300px;
    border: 1px solid red;
    background-image: url(../img/jumbo-bg.png);
}

.upcoming-jumbotron{
    min-height: 300px;
    border: 1px solid red;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

footer{
    min-height: 500px;
    background-color: #00439c;
}







/* !! stucture utilities */

.row{
    border: 1px dashed violet;
}

[class^=col]{
    border: 1px solid blue;
    min-height: 50px;
}

section{
    border: 1px dashed green;
    min-height: 500px;
}