/* GENERICS */
body, button{
    font-weight: 600!important;
}

header{
    z-index: 1;
}

img{
    max-width: 100%;
    display: block;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

p{
    margin-bottom: 1.25rem;
}

/* UTILITIES */

    /* styled buttons */
.header-btn{
    background-color: #363636;
    color: #fff;
}

.jumbo-btn{
    background-color: #cd3d0f;
    color: #fff;
}

.section-btn{
    background-color: #2d64e6;
    color: #fff;
}

.ps-plus-btn{
    background-color: #d9dadc;
    color: #3469e6;
}

.ps-now-btn{
    background-color: #fff ;
    color: #000;
}
    /* styled texts */
.sup-title{
    color: #1d82d3;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1rem;
}

.sub-paragraph{
    color: #727272;
    font-size: 1.25rem;
}

.reg-mark{
    font-size: 25px;
}

    /* background utilities */
.ps-plus-bg{
    background-color: #bebcbb;
}

.ps-now-bg{
    background-color: #161c3b;
}

/* HEADER */
.navbar-toggler:focus{
    box-shadow: none;
}

.nav-link:focus, .nav-link:hover{
    color: #000;
}

/* JUMBOTRONs */
.jumbo{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.main-jumbo{
    background-image: url(../img/jumbo-bg.png);
}

.upcoming-jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}





footer{
    min-height: 500px;
    background-color: #00439c;
}







/* !! stucture utilities */

.row{
    border: 1px dashed violet;
}

[class^=col]{
    border: 1px solid blue;
    min-height: 50px;
}

section, footer{
    border: 1px dashed green;
    min-height: 500px;
    padding: 3rem 0;
}